<div class="card mt-5">
  <div class="card-body">
    <h2 class="card-title">Tabela de Produtos</h2>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th scope="col">Nome</th>
          <th scope="col">Valor</th>
          <th></th>
        </tr>
      </thead>
      <tbody *ngFor="let produto of produtos | async">
        <tr>
          <td>{{produto.nome}}</td>
          <td>{{produto.valor}}</td>
          <td>
            <button type="button"  class="btn btn-primary" (click)="edit(produto, produto.key)">Editar</button>
            <button type="button" class="btn btn-danger" (click)="delete(produto.key)">Excluir</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
